h1 {
  color: white
}

/* https://coolors.co/034732-008148-c6c013-ef8a17-ef2917 */
table {
  width: 100%;
  border-collapse: collapse;
  /* Removes spacing between borders */
}

th,
td {
  border: 1px solid #ddd;
  /* Light gray border */
  padding: 8px;
  /* Padding inside cells */
  text-align: center;
  /* Align text to the left */
  font-size: 20px;
}

th {
  background-color: #f3f3f3;
  /* Light gray background for header cells */
}

tr:hover {
  background-color: #eaeaea;
  /* Highlight row on hover */
}

.red-button{
  background-color: rgb(206, 0, 0);
  color: white;
  border-radius: 10%;
  border-style: none;
  font-size: 18px;
}

.gray-button{
  background-color: rgb(216, 216, 216);
  border-radius: 10%;
  border-style: none;
  font-size: 18px;
}

.green-button{
  background-color: #00b80f;
  border-radius: 10%;
  border-style: none;
  font-size: 20px;
  margin: 5px;
  color: white;
}

label{
  font-size: 20px;
}

input{
  border-radius: 5px;
  font-size: 20px;
}

